body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #edf3ec;
}
#box {
    width: 600px;
    height: auto;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    background-color: #FFFFFF;
}
.h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: #458261;
}
#images-container {
    display: flex;
    margin-left: 30rem;
    margin-right: 30rem;
}
.image {
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #458261;
    display: flex;
    margin:auto;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
img {
    width: 100%;
    height: 100%;
}
.faded {
    opacity: 50%;
}
.faded:hover {
    opacity: 1.0;
    cursor: pointer;
}
#boxHead {
    text-align: left;
    font-size: 20px;
    margin: 10px 10px 5px;
    color: #458261;
    font-weight: bold;
}
.font {
    font-family: Georgia, serif;
}
#boxText {
    margin-bottom: 10px;
}